<%= form_with(url:bus_reservations_path(@bus), method: :get, class: 'mt-3') do |form| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :date, class: 'font-weight-bold' %>
      <%= form.date_field :date, class: 'form-control', value: params[:date], min: Date.current.to_s, onchange: 'this.form.submit();' %>
    </div>
  </div>
<% end %>


<div class="seat-grid mt-4">
  <% @seats.each do |seat| %>
    <div class="seat-checkbox">
      <input type="checkbox" id="seat_<%= seat.id %>" name="reservation[seat_id][]" value="<%= seat.id %>" class="custom-checkbox" <%= 'checked disabled' if @reserved_seat_ids.include?(seat.id) %> <%= 'disabled' if !@reserved_seat_ids.include?(seat.id) %> />
      <label for="seat_<%= seat.id %>" class="seat-label <%= @reserved_seat_ids.include?(seat.id) ? 'reserved' : 'available' %>"><%= seat.seat_number %></label>
    </div>
  <% end %>
</div>
<%= link_to "Back to Buses", buses_path, class: 'btn btn-secondary mr-2' %>

