<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= form_with(model: bus) do |form| %>
        <% if bus.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

            <ul>
              <% bus.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :registration_number %>
          <%= form.text_field :registration_number, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :route_source %>
          <%= form.text_field :route_source, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :route_destination %>
          <%= form.text_field :route_destination, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :total_seats %>
          <%= form.number_field :total_seats, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :departure_time %>
          <%= form.time_field :departure_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :arrival_time %>
          <%= form.time_field :arrival_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
